<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Search</title>
        <link rel="stylesheet" href="/search/static/styles.css">
    </head>
    <body>
        <div>
            <ul class="navbar-google">
                <li class="navbar-item-google"><a href="index.html">Google</a></li>
            </ul>
        </div>
        <p class="h1-advanced">Advanced Search</p>
        <div class="line"></div>
        <div class="div-advanced">
            <p class="h2-advanced">Find pages with...</p>
            <form action="https://google.com/search">
                <div class="row-input">
                    <div class="left">
                        <p>All these words:</p>
                    </div>
                    <div class="right">
                        <input type="text" name="q" class="form-input">
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>